body {

}

.wrapper {
	/*margin: 0 auto;*/
	display: flex;
	height: 90vh;
}

#color-clock {
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 20em;
	letter-spacing: -8px;
	margin: auto;
	transition: all ease 0.5s;
}